$white: #ffffff;
$white-100: #E8E8EA;
$white-200: #F9F9F9;
$white-300: rgba(#ADADAD, 0.25);

$gray-50: #9899a0;
$gray-100: #475467;
$gray-900: #181A2A;

$orange-50: rgba(#D98634, 0.1);
$orange-100: #D98634;

$yellow-50: #ECFFEC;
$yellow-100: #F2FCE4;
$yellow-200: #EA9C28;

$green-50: #DEF9EC;

$purple-50: rgba(#4B6BFB, 0.1);
$purple-100: #4B6BFB;

$green-100: #3BB77E;

$red-100: #FEEFEA;
$red-200: #C41740;
$red-300: #9e1132;