<section>
    <h3>Área destinada à anúncios</h3>

    <ul>
        <li>
            <app-private-ad-card></app-private-ad-card>
        </li>
        <li>
            <app-public-ad-card></app-public-ad-card>
        </li>
        <li>
            <app-private-ad-card></app-private-ad-card>
        </li>
        <li>
            <app-public-ad-card></app-public-ad-card>
        </li>
        <li>
            <app-private-ad-card></app-private-ad-card>
        </li>
        <li>
            <app-public-ad-card></app-public-ad-card>
        </li>
        <li>
            <app-private-ad-card></app-private-ad-card>
        </li>
        <li>
            <app-public-ad-card></app-public-ad-card>
        </li>
        <li>
            <app-private-ad-card></app-private-ad-card>
        </li>
        <li>
            <app-public-ad-card></app-public-ad-card>
        </li>
    </ul>
</section>