@import '../../../styles/variables.scss';
@import '../../../styles/functions.scss';

.card {
  @include FlexCenter(center, 2rem);
  flex-direction: column;
  border: solid 1px $white-100;
  border-radius: 1.2rem;
  padding: 1.6rem;

  img {
    max-width: 100%;
    border-radius: .6rem;
  }

  &:hover {
    cursor: pointer;
  }
}