<section>
  <h3>Minha stack</h3>

  <div>
    <app-tech-card
      imagePath="/images/tech-logos/html.webp"
      techName="HTML"
      mySituation="bom conhecimento"
    >
    </app-tech-card>

    <app-tech-card
      imagePath="/images/tech-logos/css.png"
      techName="CSS"
      mySituation="bom conhecimento"
    >
    </app-tech-card>

    <app-tech-card
      imagePath="/images/tech-logos/js.png"
      techName="JavaScript"
      mySituation="bom conhecimento"
    >
    </app-tech-card>

    <app-tech-card
      imagePath="/images/tech-logos/typescript.png"
      techName="Typescript"
      mySituation="bom conhecimento"
    >
    </app-tech-card>

    <app-tech-card
      imagePath="/images/tech-logos/angular.png"
      techName="Angular"
      mySituation="em evolução"
    >
    </app-tech-card>

    <app-tech-card
      imagePath="/images/tech-logos/react.png"
      techName="React"
      mySituation="bom conhecimento"
    >
    </app-tech-card>

  </div>
</section>