<section>
    <ul id="cards">
        <li id="to-do">
            <div class="text-content">
                <h3>34</h3>
                <p>to do</p>
            </div>

            <div class="image-content to-do">
                <img src="/images/to-do-list/to-do.png" alt="imagem de tarefa a ser feita">
            </div>
        </li>

        <li id="doing">
            <div class="text-content">
                <h3>2</h3>
                <p>doing</p>
            </div>

            <div class="image-content doing">
                <img src="/images/to-do-list/doing.png" alt="imagem de tarefa a ser feita">
            </div>
        </li>

        <li id="done">
            <div class="text-content">
                <h3>56</h3>
                <p>done</p>
            </div>

            <div class="image-content done">
                <img src="/images/to-do-list/done.png" alt="imagem de tarefa a ser feita">
            </div>
        </li>
    </ul>
</section>
