@import '../../../styles/variables.scss';
@import '../../../styles/functions.scss';

.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 1rem;
  column-gap: 1rem;
  padding: 0 15%;
  padding-bottom: 12rem;
}

.open-card {
  @include FlexCenter(center, 5rem);
  flex-direction: column;
  padding-bottom: 12rem;

  .btn-return-to-default {
    background-color: $red-200;
    padding: 1.4rem 2.4rem;

    border: none;
    border-radius: .6rem;
    transition: .3s;

    &:hover {
      background-color: $red-300;
      cursor: pointer;
    }

    font-size: 1.8rem;
    font-weight: 500;
    color: $white;
    font-family: "Poppins", sans-serif;;
  }
}